@font-face {
  font-family: "KepatihanPro";
  src: url("../fonts/KepatihanPro.ttf") format("truetype");
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.hide {
  display: none;
}

body.carbon .not td {
  color: yellow;
}

.not {
  font-family: "KepatihanPro", monospace;
  font-weight: 900;
}

.not td {
  color: #38BDF8;
  font-size: 15px;
  text-align: left !important;
  white-space: pre;
}

.not td.center {
  text-align: center !important;
}

.lirik {
  font-family: "Roboto Mono", monospace;
}

.lirik td {
  white-space: pre;
  font-size: 13px;
}

.chord td {
  font-weight: 900;
  font-size: 13px;
}

.no-border-table {
  border-collapse: collapse;
  table-layout: auto;
  width: auto;
}

.no-border-table td {
  padding: 0 4px;
  text-align: center;
  white-space: nowrap;
}

.no-border-table,
.no-border-table tr,
.no-border-table td,
.no-border-table th {
  border: none !important;
  /* border : 1px solid red !important; */
}

.spacer td {
  height: 30px;
}

@media (max-width: 576px) {
  .spacer td {
    height: 10px;
  }

  .greeting {
    font-size: 18px;
  }

  .greeting-sub {
    font-size: 12px;
  }

  .not td {
    font-size: 12px;
  }

  .lirik td {
    font-size: 10px;
  }

  .chord td {
    font-size: 10px;
  }
}

.page-header {
    max-width: 576px;
    margin: 0 auto;
}