@font-face {
  font-family: "KepatihanPro";
  src: url("../fonts/KepatihanPro.ttf") format("truetype");
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.hide {
  display: none;
}

body.carbon .not td {
  color: yellow;
}

.not {
  font-family: "KepatihanPro", monospace;
  font-weight: 900;
}

.not td {
  color: #38BDF8;
  font-size: 15px;
  text-align: left !important;
  white-space: pre;
}

.not td.center {
  text-align: center !important;
}

.lirik {
  font-family: "Roboto Mono", monospace;
}

.lirik td {
  white-space: pre;
  font-size: 13px;
}

.chord td {
  font-weight: 900;
  font-size: 13px;
}

.no-border-table {
  border-collapse: collapse;
  table-layout: auto;
  width: auto;
}

.no-border-table td {
  padding: 0 4px;
  text-align: center;
  white-space: nowrap;
}

.no-border-table th {
  background-color: transparent;
  text-align: left;
  padding: 0 4px;
  padding-bottom: 5px;
  font-size: 14px;
}

.no-border-table,
.no-border-table tr,
.no-border-table td,
.no-border-table th {
  border: none !important;
  /* border : 1px solid red !important; */
}

.spacer td {
  height: 30px;
}

@media (max-width: 576px) {
  .spacer td {
    height: 10px;
  }

  .greeting {
    font-size: 18px;
  }

  .greeting-sub {
    font-size: 12px;
  }

  .not td {
    font-size: 12px;
  }

  .lirik td {
    font-size: 10px;
  }

  .chord td {
    font-size: 10px;
  }
}

.page-header {
  max-width: 576px;
  margin: 0 auto;
}

/* Overlay (background gelap) */
.modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;

  justify-content: center;
  align-items: top;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}

.modal-overlay.show {
  display: flex !important;
}

/* Modal box */
.modal {
  transform: scale(0.8);
  transition: 0.9s;
  border-radius: 10px;
  min-width: 50%;
  max-width: 90%;
  text-align: center;
  background: var(--bg-primary);
  border: 5px solid var(--border-color);
  top: 10%
}

.modal-overlay[style*="flex"] .modal {
  transform: scale(1);
}

.modal-header {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  border-bottom: 5px solid var(--border-color);
}

.modal-body {
  padding: 20px;
  height: 80%;
  width: 100%;
}

.modal-footer {
  border-top: 5px solid var(--border-color);
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
}

.modal-header-left {
  display: flex;
  align-items: center;
  gap: 3rem;
}

button.modal-close {
  color: var(--text-primary);
  background-color: var(--bg-secondary);
  border: 5px solid var(--border-color);
  padding: 5px 10px;
}